*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f4f4;
    color:#333;
}

.container{
    width:80%;
    max-width:900px;
    margin:60px auto;
}

h1{
    text-align:center;
    color:#8B0000;
    margin-bottom:10px;
}

.subtitle{
    text-align:center;
    color:#666;
    margin-bottom:30px;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

th{
    background:#8B0000;
    color:white;
    padding:14px;
}

td{
    padding:14px;
    border:1px solid #ddd;
}

tr:nth-child(even){
    background:#fafafa;
}

tr:hover{
    background:#f8eaea;
}

a{
    text-decoration:none;
    color:#8B0000;
    font-weight:bold;
}

footer{
    text-align:center;
    margin-top:25px;
    color:#666;
    font-size:14px;
}